* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #383737;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }

.logo {
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

#title {
    font-size: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a:hover {
    color: rgb(253, 243, 181);
}

.nav-links a {
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    /* font-weight: bold; */
    /* font-size: 14px; */
    
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 30px;
    height: 2px;
    background-color: antiquewhite;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 950px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #383737;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        /* transition: transform 0.5s ease-in; */
        
    }

    .nav-in {
        transition: transform 0.5s ease-in;
    }

    



    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    
}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  header {
    min-height: 100vh;
    /* background: linear-gradient(240deg, #202020, #241414); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#241414+0,202020+100 */
    background: #241414; /* Old browsers */
    background: -moz-linear-gradient(45deg, #241414 0%, #202020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #241414 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #241414 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241414', endColorstr='#202020',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

} 

/* #triangles {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    
} */

#triangle1 {
    height: 58vh;
    position: relative;
    top: 0;
    left: 0;  
}

#triangle2 {
    height: 50vh;
    position: absolute;
    top: 35%;
    left: 33.5%;    
}

#triangle3 {
    height: 50vh;
    position: absolute;
    top: 42%;
    left: 42%;
}


#about {
    min-height: 100vh;
    color: antiquewhite;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(240deg, #373838, #202020);
    padding-top: 8vh;
}

.small-gold-triangle {
    height: 100px;
}

.small-white-triangle {
    height: 100px;
}

#about-top {
    list-style: none;
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

#about-bottom {
    /* min-height: 72vh; */
    min-height: 92vh;
    width: 100%;
    display: flex;
    
}

#about-text {
    height: 100%;
    width: 50vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: rgb(65, 62, 62); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#383737+0,202020+100 */
background: #383737; /* Old browsers */
background: -moz-linear-gradient(45deg, #383737 0%, #202020 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #383737 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #383737 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383737', endColorstr='#202020',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

#selfie {
    height: 200px;
    border: 2px solid antiquewhite;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 72vh;
    font-size: 24px;
    
}

#about-me li {
    list-style: none;
}

.contact-me-triangle {
    height: 100px;
    width: 100px;
    /* background-color: antiquewhite; */
    background-image: url(images\goldentriangle.png);
}

.contact-me-triangle:hover {
    background-color: black;
    background-image: url(images\goldentrianglefill.png);
}



#about-list {
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(43, 48, 54); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#202020+0,2b3036+100 */
background: #202020; /* Old browsers */
background: -moz-linear-gradient(-45deg, #202020 0%, #2b3036 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #202020 0%,#2b3036 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #202020 0%,#2b3036 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#2b3036',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   }

#list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;

}




#projects {
    min-height: 50vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(240deg, #202020, #373838);
    padding-top: 8vh;
}
#contact {
    min-height: 50vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(240deg, #373838, #202020);
    padding-top: 8vh;
}










/* **********MEDIA QUERIES********** */
@media screen and (max-width: 1450px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 29%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 37%;
    }
}

@media screen and (max-width: 1225px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 24.5%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 34%;
    }
}

@media screen and (max-width: 992px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 20%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 33%;
    }
}

@media screen and (max-width: 768px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 15%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 30%;
    }
}

@media screen and (max-width: 576px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 8%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 8%;
    }
}

@media screen and (max-width: 500px) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 3%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 3%;
    }
}


/* MOTO G4 - PORTRAIT */
@media only screen 
    and (min-device-width: 360px)
    and (max-device-width: 640px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 5%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 42%;
            left: 5%;
        }
    }

/* MOTO G4 - LANDSCAPE */
@media only screen 
    and (min-device-width: 360px)
    and (max-device-width: 640px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 20%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 45%;
        }
    }


    /* PIXEL 2 - PORTRAIT */
@media only screen 
and (min-device-width: 411px)
and (max-device-width: 731px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
#triangle1 {
    height: 58vh;
    position: relative;
    top: 0;
    left: 0;  
}

#triangle2 {
    height: 50vh;
    position: absolute;
    top: 35%;
    left: 7%;    
}

#triangle3 {
    height: 50vh;
    position: absolute;
    top: 42%;
    left: 7%;
}
}

  

/* PIXEL 2 - LANDSCAPE */
@media only screen 
    and (min-device-width: 411px)
    and (max-device-width: 731px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 27%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 45%;
    }
  }

/* PIXEL 2 XL - PORTRAIT */
@media only screen 
    and (min-device-width: 411px)
    and (max-device-width: 823px)
    and (-webkit-min-device-pixel-ratio: 3.5)
    and (orientation: portrait) {
    #triangle1 {
        height: 50vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 42vh;
        position: absolute;
        top: 35%;
        left: 0;    
    }
    
    #triangle3 {
        height: 42vh;
        position: absolute;
        top: 42%;
        left: auto;
        right: 0;
    }
  }

/* PIXEL 2 XL - LANDSCAPE */
  @media only screen 
    and (min-device-width: 411px)
    and (max-device-width: 823px)
    and (-webkit-min-device-pixel-ratio: 3.5)
    and (orientation: landscape) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 29%;    
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 45.5%;
    }
  }

  /* iPHONE 5/SE - PORTRAIT */
  @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        #title {
            font-size: 8px;
        }
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 5%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 42%;
            left: 5%;
        }
    }

/* iPHONE 5/SE - LANDSCAPE */
    /* @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0.5%;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 27%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 45%;
        }
    } */

/* iPHONE 6/7/8 - PORTRAIT */
    @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        #triangle1 {
            height: 50vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 42vh;
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
            margin: auto;   
        }
        
        #triangle3 {
            height: 42vh;
            position: absolute;
            top: 42%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }


/* iPHONE 6/7/8 - LANDSCAPE */
    @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 27%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 45%;
        }
    }

/* iPHONE 6/7/8 PLUS - PORTRAIT */
    @media only screen 
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
        #triangle1 {
            height: 50vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 42vh;
            position: absolute;
            top: 35%;
            left: 0;    
        }
        
        #triangle3 {
            height: 42vh;
            position: absolute;
            top: 42%;
            left: auto;
            right: 0;
        }
    }

/* iPHONE 6/7/8 PLUS - LANDSCAPE */
    @media only screen 
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 27%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 45%;
        }
    }

/* iPHONE X - PORTRAIT */
    @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
        #triangle1 {
            height: 48vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 40vh;
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
            margin: auto;
            
            
        }
        
        #triangle3 {
            height: 40vh;
            position: absolute;
            top: 42%;
            left: 0;
            right: 0;
            margin: auto;
            
            
        }
    }

/* iPHONE X - LANDSCAPE */
    @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape)  {
        #triangle1 {
            height: 58vh;
            position: relative;
            top: 0;
            left: 0;  
        }
        
        #triangle2 {
            height: 50vh;
            position: absolute;
            top: 35%;
            left: 33%;    
        }
        
        #triangle3 {
            height: 50vh;
            position: absolute;
            top: 42%;
            left: 43%;
        }
    }

    /* iPAD  */
    @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        
        
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        margin: auto;
        
        
    }
}


    /* iPAD PRO 12.9" */
    @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #triangle1 {
        height: 58vh;
        position: relative;
        top: 0;
        left: 0;  
    }
    
    #triangle2 {
        height: 50vh;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        
        
    }
    
    #triangle3 {
        height: 50vh;
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        margin: auto;
        
        
    }
}

  